<header id="main-header">

  <div id="logo-div">
    <img id="logo" src="https://avanade.sharepoint.com/sites/i22/Shared%20Documents/General/Logo%20Avanade%20Positivo.png" alt="logo-avanade">
  </div>

  <div id="user-container">
    <figure>
      <img id="user" src="/assets/images/Icon_Male_Executive_White_32.png" alt="executive-icon">
      <span id="user-name">Darth Vader</span>
    </figure>
  </div>

  <div id="format">
    <ul>
      <li>
        <i class="far fa-window-minimize simbolo"></i>
      </li>
      <li>

        <i class="far fa-window-maximize"></i>
      </li>
      <li>
        <i class="fas fa-times"></i>
      </li>

    </ul>
  </div>

</header>