<div class="sidenav1">
  <a href="#settings">
    <figure>
      <img src="/assets/tools.png">
    </figure>
    <span style="color: lightsalmon">Time</span>
  </a>
</div>
<div class="sidenav2">
  <a href="#settings">
    <figure>
      <img src="/assets/tools.png">
    </figure>
    <span style="color: lightsalmon">Expense</span>
  </a>
</div>

<div class="sidenav3">
  <a href="#settings">
    <figure>
      <img src="/assets/tools.png">
    </figure>
    <span style="color: lightsalmon">Location</span>
  </a>
</div>
<div class="sidenav4">
  <a href="#settings">
    <figure>
      <img src="/assets/tools.png">
    </figure>
    <span style="color: lightsalmon">Config</span>
  </a>
</div>